@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import "/assets/css/syntax_base16.monokai.dark.css";

body {
    background-color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#version {
    position: absolute;
    font-size: 15px;
    margin: 0;
    top: 0;
    right: 0;
    cursor: default;
}

.latest-post-view {
    width: 85vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.latest-posts-title-wrapper {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.latest-posts-title {
    text-align: left;
    margin: 0;
    font-size: 25px;
    color: #000000;
}

.latest-posts-show-all {
    font-size: 25px;
}

.latest-posts-category-button-wrapper {
    display: flex;
    flex-direction: row;
}

.latest-posts-category-button {
    display: flex;
    font-size: 15px;
    border-radius: 8px;
    margin-top: 0;
    margin-bottom: 2px;
    color: #9b9b9b;
}

.latest-posts-category-button:hover {
    color: #777777;
    text-decoration: none;
}

.latest-posts {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 15%;
    transition: all 0.2s;
}

.latest-post-wrapper {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 15px;
    transition: all 0.2s;
}

.latest-post-wrapper:hover {
    background-color: #cccccc;
    transition: all 0.2s;
}

.latest-post-title {
    font-size: 30px;
    margin: 0;
    margin-bottom: 20px;
}

.latest-post-summary {
    font-size: 20px;
    color: #777777;
    margin: 0;
}

.latest-post-date {
    font-size: 15px;
    color: #9b9b9b;
    margin: 0;
}

.latest-post-divider {
    background-color: #A0A0A0;
    width: 100%;
    height: 1px;
    margin-bottom: 15px;
}

.category-title {
    font-size: 40px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
}

.category-wrapper {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
}

.category-wrapper::-webkit-scrollbar {
    display: none;
}

.category-nav {
    display: flex;
    flex-shrink: 0;
    width: 500px;
    height: 500px;
    border-radius: 55px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #44904B;
    color: #FFFFFF;
    transition: all 0.2s;
    cursor: pointer;
}

.category-nav:hover {
    background-color: #2A582E;
    color: #A0A0A0;
    transition: all 0.2s;
}

// .me-nav {
//     display: flex;
//     flex-shrink: 0;
//     width: 200px;
//     height: 200px;
//     border-radius: 50px;
//     margin-left: 10px;
//     margin-right: 10px;
//     background-color: #8b8b8b;
//     color: #000000;
//     transition: all 0.2s;
// }

// .me-nav:hover {
//     background-color: #545454;
//     color: #000000;
//     transition: all 0.2s;
// }

.nav-title {
    font-size: 30px;
    margin-left: 30px;
    margin-top: 30px;
}

.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
}

.me-info {
    font-size: 20px;
    color: #8b8b8b;
}

a:link {
    text-decoration: none;
}
   
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

.spacer {
    height: 50px;
}

hr {
    width: 80vw;
    background-color: #8b8b8b;
}

.divider-me {
    width: 1px;
    height: 20px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #8b8b8b;
}

.floating-buttons {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 99;
}

.link-buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 20px;
    z-index: 99;
}

.back-space {
    border-style: none;
    border-radius: 20px;
    padding: 10px;
    width: 30px;
    height: 20px;
    text-align: center;
    background-color: lightgray;
    opacity: 25%;
    transition: all 0.2s;
}

.back-space:hover {
    background-color: lightgray;
    opacity: 50%;
    transition: all 0.2s;
}

.back-space > img {
    width: 30px;
    height: 20px;
    transition: all 0.2s;
}

.menu-bar {
    border-style: none;
    border-radius: 20px;
    padding: 10px;
    width: 20px;
    height: 20px;
    text-align: center;
    background-color: lightgray;
    opacity: 25%;
    transition: all 0.2s;
}

.menu-bar:hover {
    background-color: lightgray;
    opacity: 50%;
    transition: all 0.2s;
}

.menu-bar > img {
    width: 20px;
    height: 20px;
    transition: all 0.2s;
}

.home {
    border-style: none;
    border-radius: 20px;
    padding: 10px;
    width: 20px;
    height: 20px;
    text-align: center;
    background-color: lightgray;
    opacity: 25%;
    transition: all 0.2s;
}

.home:hover {
    background-color: lightgray;
    opacity: 50%;
    transition: all 0.2s;
}

.home > img {
    width: 20px;
    height: 20px;
    transition: all 0.2s;
}

.nav-bar {
    z-index: -1;
    position: relative;
    border-radius: 20px;
    padding: 5px;
    width: 290px;
    height: 600px;
    background-color: lightgray;
    transition: all 0.3s ease;
}

.nav-bar-title{
    font-size: 20px;
    margin: 0;
    margin-left: 10px;
    margin-top: 10px;

}

.nav-bar-component{
    font-size: 20px;
    margin: 0;
    margin-left: 30px;
    opacity: 50%;
}

.nav-bar-component:hover{
    opacity: 100%
}

.nav-bar-spacer {
    height: 20px;
}

.post-list {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 80vw;
    height: 100vh;
}

.post-nav {
    display: flex;
    flex-direction: column;
    position: relative;
    // border-radius: 20px;
    // background-color: #FFC400;
    width: 100%;
    height: 15%;
    margin-top: 5px;
    margin-bottom: 5px;
    transition: all 0.2s;
    border-bottom: solid 1px;
    border-color: #A0A0A0;;
}

.post-nav:hover {
    // background-color: #bb8f00;
    background-color: #cccccc;
    transition: all 0.2s;
}

.post-title {
    font-size: 35px;
    margin-top: 15px;
    margin-bottom: 0px;
    margin-left: 10px;
}

.post-summary {
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 0px;
    margin-left: 15px;
}

.post-date {
    font-size: 15px;
    position: absolute;
    bottom: 0;
    right: 15px;
}

.post-view-wrapper {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 80vw;
}

.post-view-title{
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}

.post-view-date{
    margin-left: auto;
}

.category-button-wrapper {
    display: flex;
    flex-direction: row;
}

.category-button {
    display: flex;
    font-size: 20px;
    border-radius: 8px;
    margin-top: 0;
    margin-bottom: 2px;
    color: #9b9b9b;
    cursor: pointer;
    z-index: 1;
}

.category-button:hover {
    color: #777777;
    text-decoration: none;
}

.post-view-tag{
    
}

.post-view-content{
    font-size: 18px;
    position: relative;
}

.giscus {
    margin: auto;
    width: 85vw;
}

.post-image-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    gap: 2px;
}

.image {
    margin: auto;
}

.caption {
    text-align: center;
    font-size: 17px;
    color: lightgray;
}

.books-space {
    width: 80vw;
    margin: auto;
}

.book-grid {
    display: grid;
    margin: auto;
    width: 80vw;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
    place-items: center center;
}

.book-card {
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 20px;
    background-color: #FFC400;
    width: 90%;
    height: 90%;
    padding: 20px;
    transition: all 0.2s;
    place-items: center center;
}

.book-cover {
    width: 50%;
    height: 80%;
    border-radius: 5px;
}

.book-info {
    text-align: left;
    width: 100%;
}

.book-title {
    font-size: 1.3rem;
    font-weight: 600;
}

.book-author {
    font-size: 20px;
}
