<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    {% include favicons.html %}
</head>
{% include google_analytics.html %}
<body>
    {% include dark_mode.html %}
    {% include floating_buttons.html %}

    <div class="books-space">
        <h1 id="books-title">{{ page.title }}</h1>
        <div class="book-grid">
            {% for book in site.data.books %}
                <div class="book-card">
                    <img class="book-cover" src="{{ book.cover }}">
                    <div class="book-info">
                        <p class="book-title">{{ book.title }}</p>
                        <p class="post-author">- {{ book.author }}</p>
                    </div>
                </div>
            
            {% endfor %}
        </div>
    </div>
    {% include side_bar_script.html %}
    <script>
        const setDarkMode = (isOn) => {
            if (isOn == "true"){
              document.getElementById("dark-mode-icon").src = "../../../../assets/icons/dark-mode-on.png";
              document.body.classList.add('dark');
              document.getElementById("books-title").classList.add('dark');
            }
            else {
              document.getElementById("dark-mode-icon").src = "../../../../assets/icons/dark-mode-off.png";
              document.body.classList.remove('dark');
              document.getElementById("books-title").classList.remove('dark');
            }
          }
    
          setDarkMode(localStorage.getItem("darkMode"));
          
          document.getElementById("dark-mode-icon").addEventListener('click', function() {
            if (localStorage.getItem("darkMode") == "true"){
              localStorage.setItem("darkMode", false);
            }
            else {
              localStorage.setItem("darkMode", true);
            }
            setDarkMode(localStorage.getItem("darkMode"));
          })
    </script>
</body>
</html>