<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="apple-touch-icon" sizes="180x180" href="{{site.baseurl}}/assets/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{site.baseurl}}/assets/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{site.baseurl}}/assets/favicons/favicon-16x16.png">
    <link rel="manifest" href="{{site.baseurl}}/assets/favicons/site.webmanifest">
</head>
<body>
    <div class="dark-mode">
        <img src="../../../../assets/icons/dark-mode-off.png" id="dark-mode-icon">
      </div>
    <div class="floatings">
        <div class="link-buttons">
            <div class="menu-bar">
                <img src="../../../../assets/icons/menu-bar.png" class="inner-icon">
            </div>
            <div class="home" onclick="document.location.href='/'">
                <img src="../../../../assets/icons/home.png" class="inner-icon">
            </div>
        </div>
        <div class="nav-bar" style="left: -310px;">
            <p class="nav-bar-title">CATEGORY</p>
            {% for item in site.data.navigation_category %}
                {% if item.name == 'etc.' %}
                    <p class="nav-bar-component" onclick="document.location.href='etc'">{{ item.name }}</p>
                    {% else %}
                        <p class="nav-bar-component" onclick="document.location.href='{{ item.name | downcase }}'">{{ item.name }}</p>
                {% endif %}
            {% endfor %}
            <div class="nav-bar-spacer"></div>
            <p class="nav-bar-title">ME</p>
            {% for item in site.data.navigation_me %}
                <p class="nav-bar-component" onclick="{{ item.link }}">{{ item.name }}</p>
            {% endfor %}
        </div>
    </div>
    <div class="post-list">
        <h1 id="post-category-page-title">{{ page.title }}</h1>
        {% for post in site.posts %}
            {% if post.categories[0] == page.title %}
            <div class="post-nav" onclick="document.location.href='{{ post.url }}'">
                <p class="post-title">{{ post.title }}</p>
                <p class="post-summary">{{ post.summary }}</p>
                <p class="post-date">{{ post.date | date_to_string }}</p>
            </div>
            {% endif %}
        {% endfor %}
    </div>

    <script>
        document.getElementsByClassName('menu-bar')[0].addEventListener('click', function() {
            let navBar = document.getElementsByClassName('nav-bar')[0];
            if (navBar.style.left == '-310px') {
                navBar.style.left = '0px';
                navBar.style.zIndex = 99;
                
            }
            else {
                navBar.style.left = '-310px';
                navBar.style.zIndex = -99;
            }
        });
    </script>
    <script>
        const setDarkMode = (isOn) => {
          if (isOn == "true"){
            document.getElementById("dark-mode-icon").src = "../../../../assets/icons/dark-mode-on.png";
            document.body.classList.add('dark');
            document.getElementById("post-category-page-title").classList.add('dark');
            for (let i=0; i<document.getElementsByClassName("post-nav").length; i++){
                document.getElementsByClassName("post-nav")[i].classList.add('dark');
            }
          }
          else {
            document.getElementById("dark-mode-icon").src = "../../../../assets/icons/dark-mode-off.png";
            document.body.classList.remove('dark');
            document.getElementById("post-category-page-title").classList.remove('dark');
            for (let i=0; i<document.getElementsByClassName("post-nav").length; i++){
                document.getElementsByClassName("post-nav")[i].classList.remove('dark');
            }
          }
        }
  
        setDarkMode(localStorage.getItem("darkMode"));
        
        document.getElementById("dark-mode-icon").addEventListener('click', function() {
          if (localStorage.getItem("darkMode") == "true"){
            localStorage.setItem("darkMode", false);
          }
          else {
            localStorage.setItem("darkMode", true);
          }
          setDarkMode(localStorage.getItem("darkMode"));
        })
      </script>
</body>
</html>