<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="apple-touch-icon" sizes="180x180" href="{{site.baseurl}}/assets/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{site.baseurl}}/assets/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{site.baseurl}}/assets/favicons/favicon-16x16.png">
    <link rel="manifest" href="{{site.baseurl}}/assets/favicons/site.webmanifest">
  </head>
  <body>
    <h1 id="blog-title">pmaarks.github.io</h1>
    <div class="dark-mode">
      <img src="../../../../assets/icons/dark-mode-off.png" id="dark-mode-icon">
    </div>
    {% include navigation_category.html %}
    <div class="spacer"></div>
    {% include latest_posts.html %}
    <div class="spacer"></div>
    <div class="spacer"></div>
    {% include navigation_me.html %}
    <div class="spacer"></div>
    <p id="version" onclick="document.location.href='https://github.com/pmaarks/pmaarks.github.io'">v240812</p>
    <hr/>
    <div class="spacer"></div>

    <script class="post-comments"
        id="giscus"
        src="https://giscus.app/client.js"
        data-repo="pmaarks/pmaarks.github.io"
        data-repo-id="R_kgDOMZNtdA"
        data-category="Comments"
        data-category-id="DIC_kwDOMZNtdM4ChMSi"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="light"
        data-lang="ko"
        crossorigin="anonymous"
        async>
    </script>
    <script>
      function sendMessage(message) {
        const iframe = document.querySelector('iframe.giscus-frame');
        if (!iframe) return;
        iframe.contentWindow.postMessage({ giscus: message }, 'https://giscus.app');
      }

      const setDarkMode = (isOn) => {
        if (isOn == "true"){
          document.getElementById("dark-mode-icon").src = "../../../../assets/icons/dark-mode-on.png";
          document.getElementById("blog-title").classList.add('dark');
          document.body.classList.add('dark');
          document.getElementById("category-title").classList.add('dark');
          document.getElementById("latest-posts-title").classList.add('dark');
          document.getElementById("version").classList.add('dark');
          for (let i=0; i<document.getElementsByClassName("latest-post-title").length; i++){
            document.getElementsByClassName("latest-post-title")[i].classList.add('dark');
            document.getElementsByClassName("latest-post-wrapper")[i].classList.add('dark');
          }
          for (let i=0; i<document.getElementsByClassName("category-nav").length; i++){
            document.getElementsByClassName("category-nav")[i].classList.add('dark');
          }
          document.getElementById("giscus").setAttribute('data-theme', "transparent_dark");
          sendMessage({
            setConfig: {
              theme: 'transparent_dark'
            }
          });
        }
        else {
          document.getElementById("dark-mode-icon").src = "../../../../assets/icons/dark-mode-off.png";
          document.getElementById("blog-title").classList.remove('dark');
          document.body.classList.remove('dark');
          document.getElementById("category-title").classList.remove('dark');
          document.getElementById("latest-posts-title").classList.remove('dark');
          document.getElementById("version").classList.remove('dark');
          for (let i=0; i<document.getElementsByClassName("latest-post-title").length; i++){
            document.getElementsByClassName("latest-post-title")[i].classList.remove('dark');
            document.getElementsByClassName("latest-post-wrapper")[i].classList.remove('dark');
          }
          for (let i=0; i<document.getElementsByClassName("category-nav").length; i++){
            document.getElementsByClassName("category-nav")[i].classList.remove('dark');
          }
          document.getElementById("giscus").setAttribute('data-theme', "light");
          sendMessage({
            setConfig: {
              theme: 'light'
            }
          });
        }
      }

      setDarkMode(localStorage.getItem("darkMode"));
      
      document.getElementById("dark-mode-icon").addEventListener('click', function() {
        if (localStorage.getItem("darkMode") == "true"){
          localStorage.setItem("darkMode", false);
        }
        else {
          localStorage.setItem("darkMode", true);
        }
        setDarkMode(localStorage.getItem("darkMode"));
      })
    </script>
  </body>
</html>