<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="apple-touch-icon" sizes="180x180" href="{{site.baseurl}}/assets/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{site.baseurl}}/assets/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{site.baseurl}}/assets/favicons/favicon-16x16.png">
    <link rel="manifest" href="{{site.baseurl}}/assets/favicons/site.webmanifest">
</head>
{% include google_analytics.html %}
<body>
    {% include dark_mode.html %}
    {% include floating_buttons.html %}

    <div class="playground-space">
        <h1 id="playground-title">{{ page.title }}</h1>
        <div class="toy-grid">
            {% for toy in site.data.toys %}
                <div class="toy-card" onclick="document.location.href='toys/{{ toy.url }}'">
                    <p class="toy-title">{{ toy.title }}</p>
                </div>
            {% endfor %}
        </div>
    </div>

    {% include side_bar_script.html %}
    <script>
        const setDarkMode = (isOn) => {
            if (isOn == "true"){
              document.getElementById("dark-mode-icon").src = "../../../../assets/icons/dark-mode-on.png";
              document.body.classList.add('dark');
              document.getElementById("playground-title").classList.add('dark');
            }
            else {
              document.getElementById("dark-mode-icon").src = "../../../../assets/icons/dark-mode-off.png";
              document.body.classList.remove('dark');
              document.getElementById("playground-title").classList.remove('dark');
            }
          }
    
          setDarkMode(localStorage.getItem("darkMode"));
          
          document.getElementById("dark-mode-icon").addEventListener('click', function() {
            if (localStorage.getItem("darkMode") == "true"){
              localStorage.setItem("darkMode", false);
            }
            else {
              localStorage.setItem("darkMode", true);
            }
            setDarkMode(localStorage.getItem("darkMode"));
          })
    </script>
</body>
</html>