<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">

    <style>
        p {
            color: #000000;
            transition: all 0.2s;
        }
    
        p.dark {
            color: #FFFFFF;
            transition: all 0.2s;
        }

        h2 {
            color: #000000;
            transition: all 0.2s;
        }
    
        h2.dark {
            color: #FFFFFF;
            transition: all 0.2s;
        }
    </style>
</head>

<body>
    <div class="dark-mode">
        <img src="../../../../assets/icons/dark-mode-off.png" id="dark-mode-icon">
    </div>
    <div class="floating-buttons">
        <div class="link-buttons">
            <div class="menu-bar">
                <img src="../../../../assets/icons/menu-bar.png" class="inner-icon">
            </div>
            <div class="home" onclick="document.location.href='/'">
                <img src="../../../../assets/icons/home.png" class="inner-icon">
            </div>
        </div>
        <div class="nav-bar" style="left: -310px;">
            <p class="nav-bar-title">CATEGORY</p>
            {% for item in site.data.navigation_category %}
                {% if item.name == 'etc.' %}
                    <p class="nav-bar-component" onclick="document.location.href='../../../../category/etc'">{{ item.name }}</p>
                    {% else %}
                        <p class="nav-bar-component" onclick="document.location.href='../../../../category/{{ item.name | downcase }}'">{{ item.name }}</p>
                {% endif %}
            {% endfor %}
            <div class="nav-bar-spacer"></div>
            <p class="nav-bar-title">ME</p>
            {% for item in site.data.navigation_me %}
                <p class="nav-bar-component" onclick="{{ item.link }}">{{ item.name }}</p>
            {% endfor %}
        </div>
    </div>
    <div class="post-view-wrapper">
        <h1 id="post-view-title">{{ page.title }}</h1>
        <p id="post-view-date">{{ page.date | date_to_string }}</p>
        <div class="category-button-wrapper">
            {% for item in page.categories %}
                {% if item == 'etc.' %}
                        <a class="category-button" href="../../../../category/etc.html">{{ item }}</a>
                        {% else %}
                            <a class="category-button" href="../../../../category/{{ item | downcase }}">{{ item }}</a>
                    {% endif %}
            {% endfor %}
        </div>
        <div id="post-view-content">{{ content }}</div>
    </div>
    <div class="spacer"></div>
    <div class="spacer"></div>


    <script class="post-comments"
        id="giscus"
        src="https://giscus.app/client.js"
        data-repo="pmaarks/pmaarks.github.io"
        data-repo-id="R_kgDOMZNtdA"
        data-category="Comments"
        data-category-id="DIC_kwDOMZNtdM4ChMSi"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="light"
        data-lang="ko"
        crossorigin="anonymous"
        async>
    </script>
    <script>
        document.getElementsByClassName('menu-bar')[0].addEventListener('click', function() {
            let navBar = document.getElementsByClassName('nav-bar')[0];
            if (navBar.style.left == '-310px') {
                navBar.style.left = '0px';
                navBar.style.zIndex = 99;
                
            } else {
                navBar.style.left = '-310px';
                navBar.style.zIndex = -99;
            }
        });
    </script>
    <script>
        function sendMessage(message) {
            const iframe = document.querySelector('iframe.giscus-frame');
            if (!iframe) return;
            iframe.contentWindow.postMessage({ giscus: message }, 'https://giscus.app');
          }

        const setDarkMode = (isOn) => {
            if (isOn == "true"){
              document.getElementById("dark-mode-icon").src = "../../../../assets/icons/dark-mode-on.png";
              document.body.classList.add('dark');
              document.getElementById("post-view-title").classList.add('dark');
              document.getElementById("post-view-date").classList.add('dark');
              document.getElementById("post-view-content").classList.add('dark');
              for (let i=0; i<document.getElementsByTagName("p").length; i++){
                document.getElementsByTagName("p")[i].classList.add('dark');
              }
              for (let i=0; i<document.getElementsByTagName("h2").length; i++){
                document.getElementsByTagName("h2")[i].classList.add('dark');
              }
              document.getElementById("giscus").setAttribute('data-theme', "dark");
              sendMessage({
                setConfig: {
                  theme: 'dark'
                }
              });
            }
            else {
              document.getElementById("dark-mode-icon").src = "../../../../assets/icons/dark-mode-off.png";
              document.body.classList.remove('dark');
              document.getElementById("post-view-title").classList.remove('dark');
              document.getElementById("post-view-date").classList.remove('dark');
              document.getElementById("post-view-content").classList.add('dark');
              for (let i=0; i<document.getElementsByTagName("p").length; i++){
                document.getElementsByTagName("p")[i].classList.remove('dark');
              }
              for (let i=0; i<document.getElementsByTagName("h2").length; i++){
                document.getElementsByTagName("h2")[i].classList.remove('dark');
              }
              document.getElementById("giscus").setAttribute('data-theme', "light");
              sendMessage({
                setConfig: {
                  theme: 'light'
                }
              });
            }
          }
    
          setDarkMode(localStorage.getItem("darkMode"));
          
          document.getElementById("dark-mode-icon").addEventListener('click', function() {
            if (localStorage.getItem("darkMode") == "true"){
              localStorage.setItem("darkMode", false);
            }
            else {
              localStorage.setItem("darkMode", true);
            }
            setDarkMode(localStorage.getItem("darkMode"));
          })
    </script>
</body>
</html>