<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>
<body>
    <div class="back-space" onclick="window.history.back()"><</div>
    <div class="post-view-wrapper">
        <h1 class="post-view-title">{{ page.title }}</h1>
        <p class="post-view-date">{{ page.date | date_to_string }}</p>
        <div class="category-button-wrapper">
            {% for item in page.categories %}
            <div class="category-button">{{ item }}</div>
            {% endfor %}
        </div>
        <div class="post-view-content">{{ content }}</div>
    </div>
        
</body>
</html>