<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    {% include favicons.html %}
</head>
{% include google_analytics.html %}
<body>
    {% include dark_mode.html %}
    {% include floating_buttons.html %}
    
    <div class="post-list">
        <h1 id="post-category-page-title">{{ page.title }}</h1>
        {% for post in site.posts %}
            <div class="post-nav" onclick="document.location.href='{{ post.url }}'">
                <p class="post-title">{{ post.title }}</p>
                <p class="post-summary">{{ post.summary }}</p>
                <p class="post-date">{{ post.date | date_to_string }}</p>
            </div>
        {% endfor %}
    </div>

    {% include side_bar_script.html %}
    <script>
        const setDarkMode = (isOn) => {
          if (isOn == "true"){
            document.getElementById("dark-mode-icon").src = "../../../../assets/icons/dark-mode-on.png";
            document.body.classList.add('dark');
            document.getElementById("post-category-page-title").classList.add('dark');
            for (let i=0; i<document.getElementsByClassName("post-nav").length; i++){
                document.getElementsByClassName("post-nav")[i].classList.add('dark');
            }
          }
          else {
            document.getElementById("dark-mode-icon").src = "../../../../assets/icons/dark-mode-off.png";
            document.body.classList.remove('dark');
            document.getElementById("post-category-page-title").classList.remove('dark');
            for (let i=0; i<document.getElementsByClassName("post-nav").length; i++){
                document.getElementsByClassName("post-nav")[i].classList.remove('dark');
            }
          }
        }
  
        setDarkMode(localStorage.getItem("darkMode"));
        
        document.getElementById("dark-mode-icon").addEventListener('click', function() {
          if (localStorage.getItem("darkMode") == "true"){
            localStorage.setItem("darkMode", false);
          }
          else {
            localStorage.setItem("darkMode", true);
          }
          setDarkMode(localStorage.getItem("darkMode"));
        })
      </script>
</body>
</html>