---
layout: toy
title: drag-n-lock
version: 0
---

<div id="white-board">
    <div id="grid">
        {% for i in (0...17) %}
            {% for j in (0...10) %}
                <div class="cell" id="grid{{ i }}_{{ j }}" ondblclick="gridDoubleClick(this)"></div>
            {% endfor %}
        {% endfor %}
    </div>
</div>

<script>
    const gridDoubleClick = (target) => {
        if (target.style.backgroundColor == "red"){
            target.removeAttribute("style");
        }
        else{
            target.style.backgroundColor = "red";
        } 
    }
</script>